{{> message}}
<form action="/todos" method="POST" class="m-3">
  <div class="m-1">
    <label>Email:</label>
    <input type="text" placeholder="email" name="email" required>
  </div>
  <div class="m-1">
    <label>Password:</label>
    <input type="password" placeholder="password" name="password" required>
  </div>
  <button type="submit">Login</button>
  <p>No account? <a href="/register">Register</a></p>
</form>